<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chess Game Server | Ashwani Garg</title>
    <style type="text/css">
        .body
        {
            display: block;
            background-color: #121417;
            width: 100%;
            text-align: center;
            color: white;
            margin: auto;
        }
        p{
            display:block;
            margin:auto;
        }
        h1, h2, h3, h4, h5, h6{
            color: #d9083c;
        }
        a{
            color: antiquewhite;
        }
        a:hover{
            color: aquamarine;
        }
    </style>
</head>
<body class="body">
<h1> Chess Gaming Server</h1>
<p style="width: 60%;">Chess Gaming server is a gaming server helps two players to play chess with each other anywhere across the world.
    </br>
    </br>Online Since - 24 Jan 2021
</p>
<h3>Would you like to have a game of CHESS</h3>
<p> Application: <a href="https://ak-chess.herokuapp.com/" target="_blank">https://ak-chess.herokuapp.com/</a>
    </br> Method: POST
    </br> Starting Game ? Put "START" in body
    </br> Moving my Queen : Refer blog for notations and rules
    </br><a href="https://www.ichess.net/blog/chess-notation/" target="_blank"> https://www.ichess.net/blog/chess-notation/</a>
        </br><a href="https://www.chesscoachonline.com/chess-articles/chess-rules" target="_blank"> https://www.chesscoachonline.com/chess-articles/chess-rules</a>

            </br><I>Note:
                </br> 1. First Request to Application may take some time
                </br> 2. All the requests sent on 'POST' method should have body as 'plain text</I>

            </br>
            </br> Looking for Source Code ? <a href="https://github.com/akgarg0/chess" target="_blank">https://github.com/akgarg0/chess/</a> here you go !
</p>

<h2>Author</h2>
<p> Ashwani Garg
    </br>Visit <a href="https://www.ashwanigarg.com/" target="_blank">www.ashwanigarg.com</a> for more information
</p>
<footer> copyright 2021 @ <a href="https://www.ashwanigarg.com" target="_blank">Ashwani Garg</a> </footer>
</body>
</html>